/* Meentingkan mobile terlebih dahulu */

/* Mobile device */
*{
    font-family: Helvetica;
}

.myimg{
    width: 15px;
    object-fit:cover;
    border-radius:50%;
}

.section-atas{
    text-align: center;
    align-content: center;
}
.section-tengah{
    display: flex;
    justify-content: center;
}
.section-bawah{
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    justify-content: start;
    border: 3px solid black;
}


/* tampilan tablet antara 768pc sampai 992px*/
@media(min-width: 768px) and (max-width: 992px){
    .section-atas{
        text-align: center;
        color:green;
    }
}

/* Desktop device */
/* CSS cuma ngena diatas 768 */
@media(min-width: 992px){
    
    .section-atas{
        color: blue;
    }
    .section-tengah{
        display: flex;
        justify-content: start;
    }

    .section-bawah{
        display: flex;
        justify-content: center;
    }

    table, th, td{
        border: 1px solid black;
    }
}

.RP{
    list-style-type: decimal;
}
.PO{
    list-style: circle;
}

